body {
    margin: 5;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-image: url('planeta.png'); /* Caminho para a imagem no mesmo diretório */
    border-color: 20px rgb(54, 49, 49);

    background-size: cover; /* Faz a imagem cobrir todo o body */
    background-position: left; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}

/* Mantém a imagem de fundo da .main-content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necessário para sobreposição de elementos se houver */
    /* Adicione outras propriedades específicas da .main-content aqui, se necessário */
}

/* Outras regras de estilo permanecem inalteradas */
.sidebar {
    
        height: 100vh; /* Faz a barra lateral ocupar 100% da altura da janela do navegador */
        width: 230px;
        background: linear-gradient(to bottom, #F9E79F, #F7DC6F);
        padding: 60px;
        flex-direction: column;
        justify-content: space-between;
        border-right: 2px solid #243b55;
    
    
}



.sidebar-button {
    margin-top: auto;
    display: flex;
    align-items: center;  /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    gap: 25px; /* Ajusta o espaçamento entre o texto e o ícone */
    background-color: #D0ECE7;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 60px;
}


    

.sidebar_perfil{
    padding-top: 560px;
    
    
}


.sidebar-button.jogos {
    background-color: #E74C3C;
    
    
}

.sidebar-button.exercicios {
    background-color: #5DADE2;
    margin-top: 30px;
    
   
}

.sidebar-button.pontuacao {
    background-color: #F1C40F;
    margin-top: 30px;
    
    
    
}

.sidebar-button.perfil {
    background-color: #28B463;
    padding-top: 20px;
    
}

.icon{
    width: 45px;
    height: 45px;
    
}

.options {
    display: flex;
    justify-content: center; /* Alinha as opções ao centro */
    gap: 150px; /* Espaçamento entre as opções */
}

.option {
    color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo ao centro */
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
    gap: 30px;
    width: 180px; /* Ajuste a largura */
    height: 160px; /* Ajuste a altura */
}

.opt{
    width: 90px;
    height: 96px;
}

.option.portugues {
    background-color: #58D68D;
    margin-left: 50px;
    
}

.option.matematica {
    background-color: #F1C40F;
}

.content-section {
    text-align: center;
    padding: 70px;
    color: white;
    
}
